@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap");

:root {
  --fs-cormo-garamon: 'Cormorant Garamond', serif;
  --fs-sofia: 'Sofia Sans Extra Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  /* outline: yellow  solid 1px ; */
}

body {
    
  color: white;
  font-family: var(--fs-sofia);
  
}


.logo-icon {
  height: 5rem;
  width: 5rem;
}

.logo {
  display: flex;
  position: absolute;
  padding: 2.5rem 2rem;
  justify-content: 0rem;
}

hr {
  height: 0px;
  width: calc(50vw - 7rem);
  position: absolute;
  top: 5rem;
  left: 7rem;
}

.navbar {
  display: flex;
  position: absolute;
  
  margin-top: 2rem;
  background-color: hsla(244, 31%, 59%, 0.2);
  justify-content: baseline;
  width: calc(50% - 2vw);   
  right: 0px;
  
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px);
  
}

.navitems {
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
  gap: 10px;
  color: #fff;
  text-decoration: none;
   padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2vw;
}

.navitems span {
  font-weight: 200;
  justify-content: space-between;
}
.navitems:hover {
  border-bottom: solid 1px white;
  cursor: pointer;
}

.navitems .bold {
  font-weight: bold;
}
.home, .destination, .crew, .technology {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  text-align: justify;
  align-items: center;
  /* padding: 10vh 5vw; */
 
}
.home {
        background-image: url("assets/home/background-home-desktop.jpg");
}

.home-right, .home-left, 
.destination-right, .destination-left {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 50%;
  flex-direction: column;
  padding: 5rem 10rem 0 10rem;
}

.home-right {
  align-items: center;
}
.home-left h1 {
  font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 300;
    letter-spacing: 4px;
}

.home-left h2 {
  font-family: var(--fs-cormo-garamon);
  font-size: 7rem;
  font-weight: 200;
}

.home-left p {
  font-family: Arial, Helvetica, sans-serif;
    font-size: .85rem;
    line-height: 1.5rem;
    font-weight: 200;
}

.home-right h3 {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    color: black;
    font-family: var(--fs-cormo-garamon);
}

.destination {
  background-image: url("assets/destination/background-destination-desktop.jpg");
}

.destination-left, .destination-right {
  height: 80%;
}

.destination-right {
  justify-content: flex-start;
  margin-top: 2rem;
}

.destination-links {
  display: flex;
  
  flex-direction: row;
  justify-items: space-between;
  gap: 1rem;
}

.crew {
  background-image: url("assets/crew/background-crew-desktop.jpg");
}

.technology {
  background-image: url("assets/technology/background-technology-desktop.jpg");
}