

:root {
  --fs-cormo-garamon: 'Cormorant Garamond', serif;
  --fs-sofia: 'Sofia Sans Extra Condensed', sans-serif;
  --fs-noto: 'Noto Serif Old Uyghur', serif;
}

* {
  margin: 0;
  padding: 0;
  /* outline: yellow  solid 1px ; */
}

body {
    
  color: white;
  font-family: var(--fs-sofia);
  
}

.navDots .active {
  background-color: white;
}

.logo-icon {
  height: 3rem;
  width: 3rem;
}

.logo {
  display: flex;
  position: absolute;
  padding: 3.5rem 4rem;
  justify-content: 0rem;
}

.hr-nav {
  height: 0px;
  width: calc(50vw - 13rem);
  position: absolute;
  top: 5rem;
  left: 90%;
  border-color: grey;
  z-index: 1;
}

.docWidth {
  position: absolute;
  font-size: 1rem;
  padding: 1rem;
}

.navbar {
  
  position: absolute;
  
  margin-top: 2rem;
  background-color: hsla(244, 31%, 59%, 0.2);
  justify-content: baseline;
  width: 55vw;   
  right: 0px;
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px);
}

.navitems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 3px;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: 60px;
  font-size: 1.2rem;
}

.navitems span {
  font-weight: 200;
  justify-content: space-between;
}

.burger {
  display: none;
}
#link-home {
  margin-left: 150px;
}
.navitems:hover {
  border-bottom: solid 2px white;
  cursor: pointer;
  padding-bottom: calc(2.5rem - 2px);
}

.navitems .bold {
  font-weight: bold;
}
.home, .destination, .crew, .technology {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  text-align: justify;
  align-items: flex-start;
  padding: auto;
 
}
.home {
        background-image: url("assets/home/background-home-desktop.jpg");
}

.right, .left{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  flex-direction: column;
  margin: 10% 5%;
}

.left {
  margin-left: 10%;
}

.home .right, .home .left {
  margin: 20% 9%;

}
.home .right {
  align-items: center;
}

.sml-txt {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 7px;
}

.lg-txt {
  font-family: var(--fs-cormo-garamon);
  font-size: 8.5rem;
  font-weight: 200;
  text-transform: uppercase;
}

.home .left {
  width: 500px; 
}
.descripTxt {
  font-family: "Arial Narrow", Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.home .right h3 {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    color: black;
    font-family: var(--fs-cormo-garamon);
}

.destination {
  background-image: url("assets/destination/background-destination-desktop.jpg");
  padding-left: 0;
}

.destination .name .lg-txt {
  font-size: 7rem;
}
.destination .sml-txt {
  margin-bottom: 5rem;
}
.destination .right {
  padding-top: 5rem; 
  width: 700px;
  margin-right: 0;
}

.destination .links {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  gap: 3rem;
}

.destination .links h2:hover {
  border-bottom: 2px white solid;
  margin-bottom: -2px;
  cursor: pointer;
}

.destination .descripTxt {
  width: 70%;
  
}

.hr-divider {
  margin: 3rem 0 1rem 0;
  height: 0px;
  width: 70%;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
}
.stats .heading h2{
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 2px;
}

.stats .heading h3 {
  font-family: var(--fs-noto);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.crew {
  background-image: url("assets/crew/background-crew-desktop.jpg");
}

.role {
  padding: 30% 0 1rem 0;
  font-family: var(--fs-cormo-garamon);
  font-weight: 200;
  text-transform: uppercase;
  color: grey;
  font-size: 2rem;
  letter-spacing: 2px;
}

.crew .name {
  font-family: var(--fs-cormo-garamon);
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.crew .descripTxt {
  width: 400px;
  margin-bottom: 5rem;
}

.preview {
  height: 60vh;
  padding-left: 5rem;
}

.crew .preview {
  position: absolute;
  bottom: 0;
  height: 70%;
  right: 10%;
}
.navDots {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 15%;
  justify-content: space-between;
  bottom: 10%;
}

.navDots div{
   /* make them little circles */
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    border: 1px solid grey;
    width: 15px;
    height: 15px;
    background-color: grey;
}

 .navDots div:focus {
  background-color: white;
}

.navDots div:hover {
  cursor: pointer;
  background-color: white;
}

.technology {
  background-image: url("assets/technology/background-technology-desktop.jpg");
}

.technology .left {
  width: 70%;
}

.technology .left .details {
  display: flex;
  flex-direction: row;
  padding-top: 30%;
}

.sub-details h1 {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.sub-details h2 {
  padding: 1rem 0 1.5rem 0;
  font-family: var(--fs-cormo-garamon);
  font-size: 3.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

.navNumDots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navNumDots h2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 50%;
  margin-right:  3.5rem ;
  
}

.navNumDots h2:hover {
  cursor: pointer;
}

.technology .preview {
  position: absolute;
  right: 0;
  bottom: 10%;
}

.technology .details {
  height: 250px;
}

@media screen and (max-height:768px) {


  .right, .left{
   
    margin: 10% 5%;
    /* background-color: red; */
  }

  .destination .preview {
    height: 50vh;
  }

  .destination .right {
    padding-top: 2rem; 
  }

  .role {
    padding: 15% 0 1rem 0;
    
  }

  .technology .left .details {
    
    padding-top: 20%;
  }
  
}

@media screen and (max-width:376px) {

  .logo {
    display: flex;
    position: absolute;
    padding: 1.5rem;
  }
  .navbar {
    position: absolute;
    flex-direction: column;
    margin-top: 2rem;
    background-color: hsla(244, 31%, 59%, 0.2);
    justify-content: flex-start;
    width: 100%;   
    right: 0px;
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px);
  }

  .navitems {
    display: flex;
    justify-content: none;
    letter-spacing: 3px;
    gap: 0px;
    color: #fff;
    text-decoration: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: 0px;
    font-size: 1.2rem;
  }
  
  .navitems span {
    font-weight: 200;
    justify-content: none;
  }

  #link-home {
    margin-left: 0px;
  }
  .navitems:hover {
    border-bottom: solid 2px white;
    cursor: pointer;
    padding-bottom: 0;
  }
  
  .navitems .bold {
    font-weight: bold;
  }

  .burger {
    display: block;
    position: absolute;
    right: 0;
    padding: 2rem;
  }

  .home, .destination, .crew, .technology {
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }
  .home {
    background-image: url("assets/home/background-home-mobile.jpg");
    
}
  .home .left, .home .right {
    width: 350px;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .home .right h3 {
    position: absolute;
    height: 150px;
    width: 150px;
    font-size: 1.3rem;
    bottom: 0px;
  }

  .sml-txt {
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
  
  .lg-txt {
    font-size: 5rem;
  }

  .descripTxt {
    font-family: "Arial Narrow", Helvetica, sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 200;
      letter-spacing: .75px;
  }


  
}