:root {
  --fs-cormo-garamon: 'Cormorant Garamond', serif;
  --fs-sofia: 'Sofia Sans Extra Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
    
  color: white;
  font-family: var(--fs-sofia);
}

.home {
    display: flex;
    flex-direction: column;
    background-image: url("assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    height: 100vh;
    /* justify-self: center;
    text-align: justify; */
}



.logo-icon {
  height: 5rem;
  width: 5rem;
}

.logo {
  display: flex;
  padding: 2.5rem 2rem;
  justify-content: 0rem;
}

hr {
  height: 0px;
  width: calc(50vw - 7rem);
  position: absolute;
  top: 5rem;
  left: 7rem;
}

.navbar {
  display: flex;
  position: absolute;
  background-color: hsla(244, 31%, 59%, 0.2);
  margin-top: 2rem;
  /* padding: 2rem 4rem 2rem 2rem; */
  padding: 2.5rem 4.5rem;
  justify-content: baseline;
  gap: 5rem;
  width: calc(50% - 9rem);   
  right: 0px;
  /* backdrop-filter: blur(5px);  */
}

.navitems {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px hsla(244, 75%, 40%, 0);
  letter-spacing: 2px;
  gap: 3px;
}
.navitems span {
  font-weight: 200;
  justify-content: space-between;
}
.navitems:hover {
  border-bottom: solid 1px white;
  cursor: pointer;
}

.navitems .bold {
  font-weight: bold;
}

